* {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.productos {
    margin-top: 50px;
    margin-left: 115px;
}

.clash-card__image img {
    height: 230px;
}

.bg-color {
    background-color: #fff159;
    padding: 20px 0;
    margin: 0 -15px;
}

.width {
    width: 60%;
    margin: 0 auto;
}

.logo {
    text-align: center;
    font-size: 2rem;
}

.msg {
    text-align: center;
    font-size: 2rem;
}

.stat {
    font-size: 20px;
}

.clash-card__unit-name {
    font-size: 18px;
}